<!DOCTYPE html>
<html lang="{{ site.lang | default: "de-DE" }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title | default: "Kay Gladen | KI-Keynote Speaker" }}</title>
  <meta name="description" content="{{ page.description | default: site.description | default: "Experte für Künstliche Intelligenz und Keynote Speaker für Fachveranstaltungen und Konferenzen" }}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>
<body>
  <div class="wrapper">
    {{ content }}
  </div>
</body>
</html>
